untitled/untitled.iml
untitled/.idea/misc.xml
untitled/.idea/modules.xml
untitled/.idea/vcs.xml
untitled/.idea/workspace.xml
untitled/out/production/untitled/Author.class
untitled/out/production/untitled/Book.class
untitled/out/production/untitled/Element.class
untitled/out/production/untitled/Image.class
untitled/out/production/untitled/Main.class
untitled/out/production/untitled/Paragraph.class
untitled/out/production/untitled/Section.class
untitled/out/production/untitled/Table.class
untitled/out/production/untitled/ImageProxy.class
untitled/out/production/untitled/Picture.class
untitled/out/production/untitled/AlignCenter.class
untitled/out/production/untitled/AlignLeft.class
untitled/out/production/untitled/AlignRight.class
untitled/out/production/untitled/AlignStrategy.class
